<!-- menue div -->
<div class="admin-bar">
  <div class="admin-buttons">
    <a href="#!users" style="text-decoration:none; margin-left:20px; background-color:black; color:white; border-radius: 8px 8px 8px 8px; height:35px!important; width: 170px;"
      class="btn adminB" role="button">Profile</a>
    <!-- </div> -->
    <!-- <a href="#!tournament" style='text-decoration:none; margin-left:20px; background-color:black; color:white; border-radius: 8px 8px 8px 8px; height:35px!important; width: 170px;'
      class="btn adminB" role="button">Tournament</a> -->

    <div class="dropdown">
      <button style='margin-left:20px;background-color: black;color: white; height: 35px!important; width: 170px; text-align: center; border-radius: 8px 8px 8px 8px'
        class="dropbtn btn adminB">Tournaments</button>
      <div class="dropdown-content">
        <a href="#!tournament">Live Tournaments</a>
        <a style='margin-top:12px;' href="#!archivedTourneys">Archived Tournaments</a>
        </span>
      </div>
    </div>
  </div>
</div>


<div>
  <h2 style='text-align: left; color: white;font-family:iceland;font-size:80px;'>Archived Tournaments</h2>
  <div class="archiveGroup">
    <h4 style='text-align: center; color: white;font-family:iceland;font-size:60px;'>Name: Running Songs Tournament</h4>
    <h4 style='text-align: left; color: white;font-family:iceland;font-size:20px;'>Date Started: 8/1/17</h4>
    <h4 style='text-align: left; color: white;font-family:iceland;font-size:20px;'>Date Completed: 10/18/17</h4>
    <h4 style='text-align: left; color: white;font-family:iceland;font-size:20px;'>Number of Voters: 10</h4>
    <div class="tourney tourneyHeader">
      <div class="row">
        <div class="col-md-6">
          <H1> Place</h1>
        </div>
        <div class="col-md-6">
          <H1>Song</H1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <H1> Gold</h1>
        </div>
        <div class="col-md-6">
          <iframe src="https://open.spotify.com/embed/track/3bidbhpOYeV4knp8AIu8Xn" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <H1> Silver</h1>
        </div>
        <div class="col-md-6">
          <iframe src="https://open.spotify.com/embed/track/64zjna5dIuO7s9FCDXQMmI" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <H1> Bronze</h1>
        </div>
        <div class="col-md-6">
          <iframe src="https://open.spotify.com/embed/track/5QjJgPU8AJeickx34f7on6" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>