<!-- menue div -->
<div class="admin-bar">
  <div class="admin-buttons">
    <a href="#!admins" style="text-decoration:none; margin-left:20px; background-color:black; color:white; border-radius: 8px 8px 8px 8px; height:35px!important; width: 170px;" class="btn adminB" role="button">Home</a>
    <!-- </div> -->
    <a href="#!adminSpins" style='text-decoration:none; margin-left:20px; background-color:black; color:white; border-radius: 8px 8px 8px 8px; height:35px!important; width: 170px;' class="btn adminB" role="button">Random Winner Page</a>

    <div class="dropdown">
      <button style='margin-left:20px;background-color: black;color: white; height: 35px!important; width: 170px; text-align: center; border-radius: 8px 8px 8px 8px' class="dropbtn btn adminB">Admin Controls</button>
      <div class="dropdown-content">
        <button style='border-radius:100%; padding: 0; border: none;background: none; margin-top: 10px;text-decoration:underline;'ng-click="ac.makePDF()">Make Slips</button>
        <a style='margin-top:12px;'href="#!permissions">Permissions</a>
        <a href="#!upload">Upload CSV</a>
        <span ng-if="ac.both">
        <a href="#!admins">Admin Page</a>
        <a href="#!teachers">Teacher Page</a>
      </span>
      </div>
    </div>
  </div>
</div>
</div>
<!-- end menue div -->
</div>
<h1 style= 'font-family:iceland;text-align: center; color: white;'class="shimmer">Welcome, {{sc.username}}!</h1>
<img class="img-responsive center-block" ng-src="{{sc.pic}}" style="max-height:250px"></img>


<div class="form-group" style= ' text-align: center;'>
  <label style = 'font-family:iceland;color: white;' for="usr">What is your slip number?</label>
  <input style="border-radius: 5px 5px 5px 5px;"type="text" class="center-block" id="usr" ng-model="sc.slipKey" placeholder="Enter your key here.....">
  <label class = 'pulse-button' style = 'font-size:100px;color: white;'>S</label>&nbsp;<input type="checkbox" name="" ng-model="sc.s" value="">
  <label class = 'pulse-button' style = 'font-size:100px;color: white;'>&nbsp;O</label>&nbsp;<input type="checkbox" name="" ng-model="sc.o" value="">
  <label class = 'pulse-button' style = 'font-size:100px;color: white;'>&nbsp;A</label>&nbsp;<input type="checkbox" name="" ng-model="sc.a" value="">
  <label class = 'pulse-button' style = 'font-size:100px;color: white;'>&nbsp;R</label>&nbsp;<input type="checkbox" name="" ng-model="sc.r" value="">
  <br>