<h1 style= 'font-family:iceland;text-align: center; color: white;'class="shimmer">Welcome, {{sc.username}}!</h1>
<img class="img-responsive center-block" ng-src="{{sc.pic}}" style="max-height:250px"></img>


<div class="form-group" style= ' text-align: center;'>
  <label style = 'font-family:iceland;color: white;' for="usr">What is your slip number?</label>
  <input style="border-radius: 5px 5px 5px 5px;"type="text" class="center-block" id="usr" ng-model="sc.slipKey" placeholder="Enter your key here.....">
  <label class = 'pulse-button' style = 'font-size:100px;color: white;'>S</label>&nbsp;<input type="checkbox" name="" ng-model="sc.s" value="">
  <label class = 'pulse-button' style = 'font-size:100px;color: white;'>&nbsp;O</label>&nbsp;<input type="checkbox" name="" ng-model="sc.o" value="">
  <label class = 'pulse-button' style = 'font-size:100px;color: white;'>&nbsp;A</label>&nbsp;<input type="checkbox" name="" ng-model="sc.a" value="">
  <label class = 'pulse-button' style = 'font-size:100px;color: white;'>&nbsp;R</label>&nbsp;<input type="checkbox" name="" ng-model="sc.r" value="">
  <br>