<!-- menue div -->
<div class="admin-bar">
  <div class="admin-buttons">
    <a href="#!users" style="text-decoration:none; margin-left:20px; background-color:black; color:white; border-radius: 8px 8px 8px 8px; height:35px!important; width: 170px;"
      class="btn adminB" role="button">Profile</a>
    <!-- </div> -->
    <a href="#!tournament" style='text-decoration:none; margin-left:20px; background-color:black; color:white; border-radius: 8px 8px 8px 8px; height:35px!important; width: 170px;'
      class="btn adminB" role="button">Tournament</a>

    <!-- <div class="dropdown">
        <button style='margin-left:20px;background-color: black;color: white; height: 35px!important; width: 170px; text-align: center; border-radius: 8px 8px 8px 8px'
          class="dropbtn btn adminB">Tournaments</button>
        <div class="dropdown-content">
          <a href="#!live">Live Tournaments</a>
          <a style='margin-top:12px;' href="#!archivedTourneys">Archived Tournaments</a>
          <a href="#!upload">Create A New Tournament</a>
          </span>
        </div>
      </div> -->
  </div>
</div>
<!-- end menue div -->


<!-- <div class="form-group" style=' text-align: center;'> -->
  <!-- <label style='font-family:iceland;color: white;' for="usr">Which genre do you want to listen to?</label>
  </br>
  <label class='pulse-button' style='font-size:100px;color: white;'>Rock</label>&nbsp;
  <input type="checkbox" name="" ng-model="sc.rock" value="">
  <label class='pulse-button' style='font-size:100px;color: white;'>&nbsp;Country</label>&nbsp;
  <input type="checkbox" name="" ng-model="sc.country" value="">
  </br>
  <label class='pulse-button' style='font-size:100px;color: white;'>&nbsp;Hip Hop</label>&nbsp;
  <input type="checkbox" name="" ng-model="sc.hiphop" value="">
  <label class='pulse-button' style='font-size:100px;color: white;'>&nbsp;Classical</label>&nbsp;
  <input type="checkbox" name="" ng-model="sc.classical" value="">
  <br>

  <button style='margin-left:20px;background-color: black;color: white; height: 35px!important; width: 170px; text-align: center; border-radius: 8px 8px 8px 8px'
    class="dropbtn btn adminB">Click To Advance</button> -->

  <div class="tournamentBackground">
    <h2 style= 'text-align: center; color: white;font-family:iceland;font-size:80px;'>Rolling Stones' Top 16 Rock Songs All Time</h2>
    <h4 style= 'text-align: center; color: white;font-family:iceland;font-size:80px;'>Music Tournament</h4>
    <main id="tournament">
      <ul class="round round-1">
        <li class="spacer">&nbsp;</li>

        <li class="game game-top winner">
          <span>1 Seed: Like A Rolling Stone</span>
        </li>
        <div class="songPlayer">
          <iframe src="https://open.spotify.com/embed/track/3AhXZa8sUQht0UEdBJgpGc" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
        </div>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">
          <span>16 Seed: I Want To Hold Your Hand</span>
        </li>
        <div class="songPlayer">
          <iframe src="https://open.spotify.com/embed/track/4pbG9SUmWIvsROVLF0zF9s" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
        </div>
        <li class="spacer">&nbsp;</li>

        <li class="game game-top winner">
          <span>8 Seed: Hey Jude</span>
        </li>
        <div class="songPlayer">
          <iframe src="https://open.spotify.com/embed/track/0aym2LBJBk9DAYuHHutrIl" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
        </div>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">
          <span>9 Seed: Smells Like Teen Spirit</span>
        </li>
        <div class="songPlayer">
          <iframe src="https://open.spotify.com/embed/track/5ghIJDpPoe3CfHMGu71E6T" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
        </div>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top ">4 Seed: What's Going On
          <span>{{score}}</span>
        </li>
        <iframe src="https://open.spotify.com/embed/track/34b3a3Pz9Jlz0092LMyNAB" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom winner">13 Seed: Yesterday
          <span>68</span>
        </li>
        <iframe src="https://open.spotify.com/embed/track/3BQHpFgAp4l80e1XslIjNI" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top winner">{{sc.seed5}}
          <span>64</span>
        </li>
        <iframe src="https://open.spotify.com/embed/track/7s25THrKz86DM225dOYwnr" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{sc.seed12}}
          <span>44</span>
        </li>
        <iframe src="https://open.spotify.com/embed/track/0KOE1hat4SIer491XKk4Pa" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top winner">{{sc.seed2}}
          <span>54</span>
        </li>
        <iframe src="https://open.spotify.com/embed/track/2PzU4IB8Dr6mxV3lHuaG34" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{sc.seed15}}
          <span>52</span>
        </li>
        <iframe src="https://open.spotify.com/embed/track/124Y9LPRCAz3q2OP0iCvcJ" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top winner">{{sc.seed7}}
          <span>65</span>
        </li>
        <iframe src="https://open.spotify.com/embed/track/4Hbe0lRKsXtDZ2wQIovz7I" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{sc.seed10}}
          <span>54</span>
        </li>
        <iframe src="https://open.spotify.com/embed/track/5yQ9iMZXGcr5rlO4hoLsP4" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top winner">{{sc.seed3}}
          <span>67</span>
        </li>
        <iframe src="https://open.spotify.com/embed/track/7pKfPomDEeI4TPT6EOYjn9" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{sc.seed14}}
          <span>63</span>
        </li>
        <iframe src="https://open.spotify.com/embed/track/18GiV1BaXzPVYpp9rmOg0E" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top winner">{{sc.seed6}}
          <span>73</span>
        </li>
        <iframe src="https://open.spotify.com/embed/track/5t9KYe0Fhd5cW6UYT4qP8f" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{sc.seed11}}
          <span>61</span>
        </li>
        <iframe src="https://open.spotify.com/embed/track/4u9f8hqstB7iITDJNzKhQx" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
      </ul>

  </div>
</div>
</main>