<!-- menue div -->
<div class="admin-bar">
  <div class="admin-buttons">
    <a href="#!users" style="text-decoration:none; margin-left:20px; background-color:black; color:white; border-radius: 8px 8px 8px 8px; height:35px!important; width: 170px;"
      class="btn adminB" role="button">Profile</a>
    <!-- </div> -->
    <!-- <a href="#!tournament" style='text-decoration:none; margin-left:20px; background-color:black; color:white; border-radius: 8px 8px 8px 8px; height:35px!important; width: 170px;'
      class="btn adminB" role="button">Tournament</a> -->

    <div class="dropdown">
      <button style='margin-left:20px;background-color: black;color: white; height: 35px!important; width: 170px; text-align: center; border-radius: 8px 8px 8px 8px'
        class="dropbtn btn adminB">Tournaments</button>
      <div class="dropdown-content">
        <a href="#!tournament">Live Tournaments</a>
        <a style='margin-top:12px;' href="#!archive">Archived Tournaments</a>
        </span>
      </div>
    </div>
  </div>
</div>

<div>
  <h2 style='text-align: center; color: white;font-family:iceland;font-size:80px;'>Rolling Stones' Top 16 Rock Songs All Time</h2>
  <h4 style='text-align: center; color: white;font-family:iceland;font-size:80px;'>Music Tournament</h4>
  <main class="tournament">
    <ul class="round round-1 container-fluid">
      <div class="row">
        <div class="col-md-4 tourneyHeader" style='text-align: center; color: white;font-family:iceland;font-size:40px;'>
          <H1> Round 1 Matchups</h1>
        </div>
        <div class="col-md-4 tourneyHeader" style='text-align: center; color: white;font-family:iceland;font-size:40px;'>
          <H1>Voting</H1>
        </div>
        <div class="col-md-4 tourneyHeader" style='text-align: center; color: white;font-family:iceland;font-size:40px;'>
          <H1>Your Pick</H1>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4">
          <li class="game game-top winner">
            <span>
              <H4>1: Like A Rolling Stone</H4>
            </span>
          </li>
          <li class="game game-spacer"></li>
          <div class="songPlayer">
            <iframe src="https://open.spotify.com/embed/track/3AhXZa8sUQht0UEdBJgpGc" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
          </div>
          <li class="game game-spacer"></li>
          <li class="game game-bottom">
            <span>
              <H4>16: I Want To Hold Your Hand</H4>
            </span>
          </li>
          <div class="songPlayer">
            <iframe src="https://open.spotify.com/embed/track/4pbG9SUmWIvsROVLF0zF9s" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
          </div>
        </div>
        <div class="col-md-4">
          <label class='pulse-button' style='font-size:30px;color: white;' ng-hide="song16">Seed 1</label>&nbsp;
          <input type="checkbox" ng-model="song1" ng-hide="song16">
          <label class='pulse-button' style='font-size:30px;color: white;' ng-hide="song1">Seed 16</label>&nbsp;
          <input type="checkbox" ng-model="song16" ng-hide="song1">
        </div>
        <div class="col-md-4">
          <H1 ng-show="song1">
            <iframe src="https://open.spotify.com/embed/track/3AhXZa8sUQht0UEdBJgpGc" width="300" height="200" frameborder="" allowtransparency="true"></iframe>
          </H1>
          <H1 ng-show="song16">
            <iframe src="https://open.spotify.com/embed/track/4pbG9SUmWIvsROVLF0zF9s" width="300" height="200" frameborder="" allowtransparency="true"></iframe>
          </H1>
        </div>
      </div>

      <li class="spacer"></li>

      <div class="row">
        <div class="col-md-4">
          <li class="game game-top winner">
            <span>
              <H4>8 Seed: Hey Jude</H4>
            </span>
          </li>
          <li class="game game-spacer"></li>
          <div class="songPlayer">
            <iframe src="https://open.spotify.com/embed/track/0aym2LBJBk9DAYuHHutrIl" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
          </div>
          <li class="game game-spacer"></li>
          <li class="game game-bottom">
            <span>
              <H4>9 Seed: Smells Like Teen Spirit</H4>
            </span>
          </li>
          <div class="songPlayer">
            <iframe src="https://open.spotify.com/embed/track/5ghIJDpPoe3CfHMGu71E6T" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
          </div>
        </div>
        <div class="col-md-4">
          <label class='pulse-button' style='font-size:30px;color: white;' ng-hide="song9">Seed 8</label>&nbsp;
          <input type="checkbox" ng-model="song8" ng-hide="song9">
          <label class='pulse-button' style='font-size:30px;color: white;' ng-hide="song8">Seed 9</label>&nbsp;
          <input type="checkbox" ng-model="song9" ng-hide="song8">
        </div>
        <div class="col-md-4">
          <H1 ng-show="song8">
            <iframe src="https://open.spotify.com/embed/track/0aym2LBJBk9DAYuHHutrIl" width="300" height="200" frameborder="" allowtransparency="true"></iframe>
          </H1>
          <H1 ng-show="song9">
            <iframe src="https://open.spotify.com/embed/track/5ghIJDpPoe3CfHMGu71E6T" width="300" height="200" frameborder="" allowtransparency="true"></iframe>
          </H1>
        </div>
      </div>

      <li class="spacer">&nbsp;</li>


      <div class="row">
        <div class="col-md-4">
          <li class="game game-top winner">
            <span>
              <H4>4 Seed: What's Going On</H4>
            </span>
          </li>
          <li class="game game-spacer"></li>
          <div class="songPlayer">
            <iframe src="https://open.spotify.com/embed/track/34b3a3Pz9Jlz0092LMyNAB" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
          </div>
          <li class="game game-spacer"></li>
          <li class="game game-bottom">
            <span>
              <H4>13 Seed: Yesterday</H4>
            </span>
          </li>
          <div class="songPlayer">
            <iframe src="https://open.spotify.com/embed/track/3BQHpFgAp4l80e1XslIjNI" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
          </div>
        </div>
        <div class="col-md-4">
          <label class='pulse-button' style='font-size:30px;color: white;' ng-hide="song13">Seed 4</label>&nbsp;
          <input type="checkbox" ng-model="song4" ng-hide="song13">
          <label class='pulse-button' style='font-size:30px;color: white;' ng-hide="song4">Seed 13</label>&nbsp;
          <input type="checkbox" ng-model="song13" ng-hide="song4">
        </div>
        <div class="col-md-4">
          <H1 ng-show="song4">
            <iframe src="https://open.spotify.com/embed/track/34b3a3Pz9Jlz0092LMyNAB" width="300" height="200" frameborder="" allowtransparency="true"></iframe>
          </H1>
          <H1 ng-show="song13">
            <iframe src="https://open.spotify.com/embed/track/3BQHpFgAp4l80e1XslIjNI" width="300" height="200" frameborder="" allowtransparency="true"></iframe>
          </H1>
        </div>
      </div>

      <li class="spacer">&nbsp;</li>

      <div class="row">
        <div class="col-md-4">
          <li class="game game-top winner">
            <span>
              <H4>2 Seed: (Can't Get No) Satisfaction</H4>
            </span>
          </li>
          <li class="game game-spacer"></li>
          <div class="songPlayer">
            <iframe src="https://open.spotify.com/embed/track/2PzU4IB8Dr6mxV3lHuaG34" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
          </div>
          <li class="game game-spacer"></li>
          <li class="game game-bottom">
            <span>
              <H4>15 Seed: Yesterday</H4>
            </span>
          </li>
          <div class="songPlayer">
            <iframe src="https://open.spotify.com/embed/track/124Y9LPRCAz3q2OP0iCvcJ" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
          </div>
        </div>
        <div class="col-md-4">
          <label class='pulse-button' style='font-size:30px;color: white;' ng-hide="song15">Seed 2</label>&nbsp;
          <input type="checkbox" ng-model="song2" ng-hide="song15">
          <label class='pulse-button' style='font-size:30px;color: white;' ng-hide="song2">Seed 15</label>&nbsp;
          <input type="checkbox" ng-model="song15" ng-hide="song2">
        </div>
        <div class="col-md-4">
          <H1 ng-show="song2">
            <iframe src="https://open.spotify.com/embed/track/2PzU4IB8Dr6mxV3lHuaG34" width="300" height="200" frameborder="" allowtransparency="true"></iframe>
          </H1>
          <H1 ng-show="song15">
            <iframe src="https://open.spotify.com/embed/track/124Y9LPRCAz3q2OP0iCvcJ" width="300" height="200" frameborder="" allowtransparency="true"></iframe>
          </H1>
        </div>
      </div>

      <li class="spacer">&nbsp;</li>

      <div class="row">
        <div class="col-md-4">
          <li class="game game-top winner">
            <span>
              <H4>7 Seed: Johnny B Goode</H4>
            </span>
          </li>
          <li class="game game-spacer"></li>
          <div class="songPlayer">
            <iframe src="https://open.spotify.com/embed/track/4Hbe0lRKsXtDZ2wQIovz7I" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
          </div>
          <li class="game game-spacer"></li>
          <li class="game game-bottom">
            <span>
              <H4>10 Seed: What'd I Say (Parts I and II)</H4>
            </span>
          </li>
          <div class="songPlayer">
            <iframe src="https://open.spotify.com/embed/track/5yQ9iMZXGcr5rlO4hoLsP4" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
          </div>
        </div>
        <div class="col-md-4">
          <label class='pulse-button' style='font-size:30px;color: white;' ng-hide="song10">Seed 7</label>&nbsp;
          <input type="checkbox" ng-model="song7" ng-hide="song10">
          <label class='pulse-button' style='font-size:30px;color: white;' ng-hide="song7">Seed 10</label>&nbsp;
          <input type="checkbox" ng-model="song10" ng-hide="song7">
        </div>
        <div class="col-md-4">
          <H1 ng-show="song7">
            <iframe src="https://open.spotify.com/embed/track/4Hbe0lRKsXtDZ2wQIovz7I" width="300" height="200" frameborder="" allowtransparency="true"></iframe>
          </H1>
          <H1 ng-show="song10">
            <iframe src="https://open.spotify.com/embed/track/5yQ9iMZXGcr5rlO4hoLsP4" width="300" height="200" frameborder="" allowtransparency="true"></iframe>
          </H1>
        </div>
      </div>

      <li class="spacer">&nbsp;</li>

      <div class="row">
        <div class="col-md-4">
          <li class="game game-top winner">
            <span>
              <H4>3 Seed: Imagine</H4>
            </span>
          </li>
          <li class="game game-spacer"></li>
          <div class="songPlayer">
            <iframe src="https://open.spotify.com/embed/track/7pKfPomDEeI4TPT6EOYjn9" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
          </div>
          <li class="game game-spacer"></li>
          <li class="game game-bottom">
            <span>
              <H4>14 Seed: Blowin' In The Wind</H4>
            </span>
          </li>
          <div class="songPlayer">
            <iframe src="https://open.spotify.com/embed/track/18GiV1BaXzPVYpp9rmOg0E" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
          </div>
        </div>
        <div class="col-md-4">
          <label class='pulse-button' style='font-size:30px;color: white;' ng-hide="song14">Seed 3</label>&nbsp;
          <input type="checkbox" ng-model="song3" ng-hide="song14">
          <label class='pulse-button' style='font-size:30px;color: white;' ng-hide="song3">Seed 14</label>&nbsp;
          <input type="checkbox" ng-model="song14" ng-hide="song3">
        </div>
        <div class="col-md-4">
          <H1 ng-show="song3">
            <iframe src="https://open.spotify.com/embed/track/7pKfPomDEeI4TPT6EOYjn9" width="300" height="200" frameborder="" allowtransparency="true"></iframe>
          </H1>
          <H1 ng-show="song14">
            <iframe src="https://open.spotify.com/embed/track/18GiV1BaXzPVYpp9rmOg0E" width="300" height="200" frameborder="" allowtransparency="true"></iframe>
          </H1>
        </div>
      </div>

      <li class="spacer">&nbsp;</li>

      <div class="row">
        <div class="col-md-4">
          <li class="game game-top winner">
            <span>
              <H4>6 Seed: Good Vibrations</H4>
            </span>
          </li>
          <li class="game game-spacer"></li>
          <div class="songPlayer">
            <iframe src="https://open.spotify.com/embed/track/5t9KYe0Fhd5cW6UYT4qP8f" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
          </div>
          <li class="game game-spacer"></li>
          <li class="game game-bottom">
            <span>
              <H4>11 Seed: My Generation</H4>
            </span>
          </li>
          <div class="songPlayer">
            <iframe src="https://open.spotify.com/embed/track/45s88Xopo6KvHc0PQ05aGg" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
          </div>
        </div>
        <div class="col-md-4">
          <label class='pulse-button' style='font-size:30px;color: white;' ng-hide="song11">Seed 6</label>&nbsp;
          <input type="checkbox" ng-model="song6" ng-hide="song11">
          <label class='pulse-button' style='font-size:30px;color: white;' ng-hide="song6">Seed 11</label>&nbsp;
          <input type="checkbox" ng-model="song11" ng-hide="song6">
        </div>
        <div class="col-md-4">
          <H1 ng-show="song6">
            <iframe src="https://open.spotify.com/embed/track/5t9KYe0Fhd5cW6UYT4qP8f" width="300" height="200" frameborder="" allowtransparency="true"></iframe>
          </H1>
          <H1 ng-show="song11">
            <iframe src="https://open.spotify.com/embed/track/45s88Xopo6KvHc0PQ05aGg" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
          </H1>
        </div>
      </div>
    </ul>
    <div class="row">
      <div class="col-5 col-md-auto" style="text-align: center">
        <a href="#!users">
          <img src="/public/assets/home-vote-button.png" />
        </a>
        </section>
      </div>
    </div>
  </main>
</div>