<!-- menue div -->
<div class="admin-bar">
  <div class="admin-buttons">
    <a href="#!users" style="text-decoration:none; margin-left:20px; background-color:black; color:white; border-radius: 8px 8px 8px 8px; height:35px!important; width: 170px;"
      class="btn adminB" role="button">Profile</a>
    <!-- </div> -->
    <a href="#!tournament" style='text-decoration:none; margin-left:20px; background-color:black; color:white; border-radius: 8px 8px 8px 8px; height:35px!important; width: 170px;'
      class="btn adminB" role="button">Tournament</a>

    <!-- <div class="dropdown">
        <button style='margin-left:20px;background-color: black;color: white; height: 35px!important; width: 170px; text-align: center; border-radius: 8px 8px 8px 8px'
          class="dropbtn btn adminB">Tournaments</button>
        <div class="dropdown-content">
          <a href="#!live">Live Tournaments</a>
          <a style='margin-top:12px;' href="#!archivedTourneys">Archived Tournaments</a>
          <a href="#!upload">Create A New Tournament</a>
          </span>
        </div>
      </div> -->
  </div>
</div>
<!-- end menue div -->


<!-- <div class="form-group" style=' text-align: center;'> -->
  <!-- <label style='font-family:iceland;color: white;' for="usr">Which genre do you want to listen to?</label>
  </br>
  <label class='pulse-button' style='font-size:100px;color: white;'>Rock</label>&nbsp;
  <input type="checkbox" name="" ng-model="sc.rock" value="">
  <label class='pulse-button' style='font-size:100px;color: white;'>&nbsp;Country</label>&nbsp;
  <input type="checkbox" name="" ng-model="sc.country" value="">
  </br>
  <label class='pulse-button' style='font-size:100px;color: white;'>&nbsp;Hip Hop</label>&nbsp;
  <input type="checkbox" name="" ng-model="sc.hiphop" value="">
  <label class='pulse-button' style='font-size:100px;color: white;'>&nbsp;Classical</label>&nbsp;
  <input type="checkbox" name="" ng-model="sc.classical" value="">
  <br>

  <button style='margin-left:20px;background-color: black;color: white; height: 35px!important; width: 170px; text-align: center; border-radius: 8px 8px 8px 8px'
    class="dropbtn btn adminB">Click To Advance</button> -->

  <div class="tournamentBackground">
    <h1>Rolling Stone Top 16 Songs Of All Time</h1>
    <main id="tournament">
      <ul class="round round-1">
        <li class="spacer">&nbsp;</li>

        <li class="game game-top winner">{{tc.seed1}}
          <span>{{tc}}</span>
        </li>
        <div class="songPlayer">
          <iframe src="https://open.spotify.com/embed/track/3AhXZa8sUQht0UEdBJgpGc" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
        </div>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{tc.seed16}}
          <span>{{tc}}</span>
        </li>
        <div class="songPlayer">
          <iframe src="https://open.spotify.com/embed/track/4pbG9SUmWIvsROVLF0zF9s" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
        </div>
        <li class="spacer">&nbsp;</li>

        <li class="game game-top winner">{{tc.seed8}}
          <span>{{tc}}</span>
        </li>
        <div class="songPlayer">
          <iframe src="https://open.spotify.com/embed/track/0aym2LBJBk9DAYuHHutrIl" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
        </div>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{tc.seed9}}
          <span>{{tc}}</span>
        </li>
        <div class="songPlayer">
          <iframe src="https://open.spotify.com/embed/track/5ghIJDpPoe3CfHMGu71E6T" width="300" height="200" frameborder="0" allowtransparency="true"></iframe>
        </div>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top ">{{tc.seed4}}
          <span>55</span>
        </li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom winner">{{tc.seed13}}
          <span>68</span>
        </li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top winner">{{sc.seed5}}
          <span>64</span>
        </li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{sc.seed12}}
          <span>44</span>
        </li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top winner">{{sc.seed2}}
          <span>54</span>
        </li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{sc.seed15}}
          <span>52</span>
        </li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top winner">{{sc.seed7}}
          <span>65</span>
        </li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{sc.seed10}}
          <span>54</span>
        </li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top winner">{{sc.seed3}}
          <span>67</span>
        </li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{sc.seed14}}
          <span>63</span>
        </li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top winner">{{sc.seed6}}
          <span>73</span>
        </li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{sc.seed11}}
          <span>61</span>
        </li>
      </ul>

  </div>
</div>
</main>