<!-- menue div -->
<div class="admin-bar">
  <div class="admin-buttons">
    <a href="#!users" style="text-decoration:none; margin-left:20px; background-color:black; color:white; border-radius: 8px 8px 8px 8px; height:35px!important; width: 170px;"
      class="btn adminB" role="button">Profile</a>
    <!-- </div> -->
    <a href="#!tournament" style='text-decoration:none; margin-left:20px; background-color:black; color:white; border-radius: 8px 8px 8px 8px; height:35px!important; width: 170px;'
      class="btn adminB" role="button">Tournament</a>

    <!-- <div class="dropdown">
      <button style='margin-left:20px;background-color: black;color: white; height: 35px!important; width: 170px; text-align: center; border-radius: 8px 8px 8px 8px'
        class="dropbtn btn adminB">Tournaments</button>
      <div class="dropdown-content">
        <a href="#!live">Live Tournaments</a>
        <a style='margin-top:12px;' href="#!archivedTourneys">Archived Tournaments</a>
        <a href="#!upload">Create A New Tournament</a>
        </span>
      </div>
    </div> -->
  </div>
</div>
<!-- end menue div -->
<h1 style='font-family:iceland;text-align: center; color: white;' class="shimmer">Welcome, {{uc.username}}!</h1>
<img class="img-responsive center-block" ng-src="{{uc.image}}" style="max-height:250px" alt="profilePic" />

<h2 style='text-align: center; color: white;font-family:iceland;font-size:80px;'>Click on the tournament tab to get started!</h2>

</div> -->